*{
    box-sizing: border-box; 
    padding: 0; 
    margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}
.top-section{
    background: #fcba64;
    color: #505050;
    padding: 2px 0;
}

a.top-item{
    text-decoration: none ; 
    color: #505050;
    font-size: 14px;
    padding: 0px 5px;
}

.top-city{
    color: #505050; 
    font-weight: 700;

}

.social-img{
    width: 25px; 
    height: auto;
}

.line {
    display: inline-block;
    height: 20px;
    border-left: 1px solid white;
}

.logo{
    height:70px;
    width:auto;
}

.navbar{
    background:#fff;
    padding:18px 0; 
    position: sticky; 
    top: 0; 
    border-bottom: 1px solid #f26b21;
    z-index: 100;
}

.navbar-nav{
    gap:18px;
}

.nav-link{
    color:#000;
    font-size:15px;
    font-weight:500;
    transition: 0.3s;
}

.nav-link:hover{
    color:#f26b21;
}

.text-orange{
    color:#f26b21 !important;
}

.contact-btn{
    background:#8aa873;
    color:#fff;
    border-radius:5px;
    font-weight:600;
}

.contact-btn:hover{
    background:#799965;
    color:#fff;
}

.home-img-container{
    position: relative;
}

.home-text{
    color: white; 
    display: block;
    position: absolute; 
    width: 80%;
    text-align: center;
    top: 50%; 
    left: 50%;
    transform: translate(-50% , -50%);
}
.gradient-text {
    font-size: 30px !important;
    font-weight: 400 !important;
    background: linear-gradient(to right, #FF5200, #FFBA62);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-text{
    font-weight: 400 !important; 
    font-size: 24px !important; 
    color: black; 
    text-align: justify;
    line-height: 30px;
}

.location-para{
    color: #505050; 
    font-size: 18px;
}

.blue{
    color: #2d8df9;
}

.custom-card-title{
    padding: 20px 20px 0; 
    font-size: 20px; 
    color: #404040; 
    font-weight: 700 !important;
    line-height: 26px;

}

.custom-card-secondary{
    padding: 0 20px 0; 
    color: #606060; 
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.custom-card-text{
    padding: 15px 20px 0;
    color: #606060;
    font-size: 17px;
    line-height: 22px;
}
.exploreBtn{
    background: #7ea174;
    width: 70%;
    color: #EDF2EB;
    font-size: 14px !important;
    padding: 4px 10px !important;
    font-weight: 500 ;
    letter-spacing: 0px;
    border: 1px solid #7EA170;
    transition: 0.3s;
}

.exploreBtn:hover{
    background: #607b57;
    border: 1px solid #607b57;
}

.mySwiper{
    width:100%;
    padding:20px 0;
    scroll-behavior: smooth; 
    transition: 0.3s;
    overflow: hidden;
}
.card-container{
    overflow: hidden;
}
.swiper-slide{
    height:auto;
}

.card{
    height:100%;
}

.swiper-button-prev ,.swiper-button-next {
    width: 35px; 
    height: 50px; 
    background:#7ea170 ; 
    font-size: 4px !important; 
    color: #f6ffff; 
}

.green-bg{
    background-color: #cad5bf;
}
.benefits-title{
    font-size: 30px !important; 
    color: #000;
    font-weight: 400;

}

.benefits-para{
    padding-top: 15px;
    font-size: 18px; 
    color: #505050; 

}

.benefits-img-container{
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
}

.benefits-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: imageZoom 5s ease infinite;
    transform-origin: center;
}

@keyframes imageZoom{
    from{
        transform: scale(2);
    }
    to{
        transform: scale(1);
    }
}

.benefits-subtitle{
    font-size: 24px; 
    font-weight: 400;
}

.benefits-subtitle-text{
    font-size: 18px; 
    color: #505050;

}

.retirement-title{
    font-size: 30px; 
    font-weight: 400; 
    color: #000;
}

.retirement-para{
    font-size: 18px; 
    color: #505050;
}

.card2-title{
    font-size: 20px; 
    color: #404040; 
    font-weight: 400; 
    padding: 20px 20px 0; 

}

/* swiper 2 */ 
.retirementSwiper{
    width:100%;
    padding:20px 10px 50px;
}

.retirementSwiper .swiper-slide{
    height:auto;
}

.retirementSwiper .card{
    height:100%;
}

.retirement-card{
    display:flex;
    background:#fff;
    border:1px solid #ddd;
    border-radius:10px;
    overflow:hidden;
    height:100%;
}

.retirement-image{
    width:35%;
}

.retirement-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.retirement-content{
    flex:1;
    padding:32px 40px;
}


@media(max-width:768px){

    .retirement-card{
        flex-direction:column;
    }

    .retirement-image{
        width:100%;
        height:220px;
    }

    .retirement-content{
        width:100%;
    }

}

.card3-title{
    font-size: 20px; 
    color: #404040;
    padding-left: 20px;
}

.card3-text{
    font-size: 17px; 
    color: #404040;
    padding-left: 20px;
}

.about-bg{
    background: #fbebd2; 
}

.vedaanta-title{
    font-size: 30px; 
    font-weight: 400; 
    margin-bottom: 20px; 
    padding-bottom: 10px;
}

.vedaanta-text{
    color: #505050; 
    font-size: 18px; 
    margin-bottom: 20px; 
    line-height: 24px;  
}

.resident-name{
    color: #404040; 
    font-size: 20px; 
    font-weight: 400; 

}

.resident{
    color: #AAA; 
}

.review{
    color: #606060; 
    font-size: 18px;
}

.reviewSwiper{
    width:100%;
    padding:20px 10px 55px;
}

.reviewSwiper .swiper-slide{
    height:auto;
}

.review-card{
    height:100%;
    padding:25px;
}

.review-pagination .swiper-pagination-bullet-active{
    background:#7f9f67;
}
.review2{
    font-size: 18px; 
    color: #404040;
    line-height: 24px;
}

.active{
    background: #FFBA62;
}
.inactive{
    background: #fbebd2;
}

.accordion-button:not(.collapsed){
    background: #FFBA62;
    color: #000;
}

.accordion-button.collapsed{
    background: #fbebd2;
    color: #000;
}

.accordion-item{
    border: none;
    border-radius: 8px !important;  
    overflow: hidden;
}

.accordion-button{
    box-shadow:none !important;
}

.accordion-button:focus{
    box-shadow:none;
}
.accordion-button{
    padding:20px 28px;
}


.accordion-button::after{
    display:none;
}

.accordion-button{
    position:relative;
}

.accordion-button::before{
    content: '+'; 
    position: absolute; 
    right: 30px; 
    font-size: 35px; 
    font-weight: 600;
}

.accordion-button:not(.collapsed)::before {
    content:"−";
}

.form-bg{
    background: #f5f5f5;
}

.form-header-bg{
    background:#494949
}

.form-title{
    color:#fff; 
    font-size: 24px; 
    font-weight: 400; 
}

.required{
    color: red; 
    font-size: 14px; 
    font-weight: 400;
}

input , select , textarea{
    box-shadow: none !important;
}
input:focus, select:focus, textarea:focus{
    box-shadow: none !important;
    border:1px solid #e5e5e5 !important;
}

input:hover, select:hover, textarea:hover{
    border:1px solid #b6b6b6 !important;
}

#consentCheckbox{
    font-size: 15px;
}
.submitBtn{
    background : #2998e6 ; 
    color : #f5f5f5 ;
    border : 1px solid #2998e6 ; 
    padding : 4px 12px;
    border-radius: 4px;
}

.submitBtn:hover{
    background:#1988D6
}

.custom-card-footer{
    border-top: 2px dotted #ccc;
    background: #fff !important;
}

.disclaimer-text{
    font-size: 14px; 
    color: #222; 
}

.link{
    color: #2998e6; 
    text-decoration: underline;
}

label{
    font-size: 13px; 
    color: #444;
    font-weight: 600;
}

.black{
    background: black;
}

.footer-para{
    font-size: 15px; 
    color: #aaa; 
    font-weight: 400;
    line-height: 20px;
}

.footer-link{
    background-color: transparent;
    transition: all 0.1s ease 0s;
    text-decoration: none;
    color: #7ea170; 
    font-size: 15px;
    line-height: 20px;
}

.footer-link:hover{
    color: #fff;
}
.footer-ul{
    display: flex; 
    flex-direction: column;
    gap: 10px;
}

.footer-title{
    color: #DDDDDD;
    font-size: 20px;
    font-weight: 300;
    /* margin-bottom: 20px; */
    text-transform: none;

}

.footer-social-icons{
    color: #fff;
}

.copyright-bg{
    background: #fcba64;
}

.copyright-para{
    color: #404040;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.designer{
    color: black;
}

.whatsapp-icon{
    font-size: 28px; 
    color: white; 
}

.whatsapp-btn{
    text-decoration: none;
    position: fixed; 
    z-index: 100; 
    bottom: 70px; 
    right: 12px; 
    background: #25D366; 
    border-radius: 50%; 
    padding: 12px 14px;

    display: inline-flex; 
    justify-content: center;
    align-items: center;
}

.notification-badge{
    position: absolute; 
    top: -2px; 
    right: -3px; 
    width: 23px; 
    height: 18px; 

    background-color: red; 
    color: white; 
    border-radius: 45%; 
    display: flex; 
    justify-content: center ; 
    align-items: center; 
    font-size: 12px; 
    font-weight: 700; 


}
.chat-btn{
    position: fixed; 
    z-index: 100; 
    bottom: 10px; 
    right: 10px; 
    background: #FFA601;
    border-radius: 50%; 
    padding: 8px 15px ;
}
.chat-icon{
    font-size: 25px !important;
}

.top-icon{
    color: #000;
    font-size: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.top-btn{
    text-decoration: none;
    position: fixed; 
    z-index: 100; 
    right: 20px; 
    bottom: 140px;
    padding: 8px;
    border: 1px solid black;
    transition: 0.3s;
    animation: hideAndShow 2s ease-in infinite;
}

@keyframes hideAndShow{
    0% , 100%{
        opacity: 1;
    }
    50%{
        opacity: 0; 
    }
}


@media(max-width : 576px) {
    .top-btn{
        right:30px ; 
    }
    .whatsapp-btn{
        right: 20px;
    }
    .chat-btn{
        right: 20px;
    }
}

.life{
    position: relative;
}

.life-ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    padding: 10px;
    min-width: 180px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    transition: 0.3s;
    border: 1px solid #fcba64 ;
    z-index: 100;
} 

.life:hover .life-ul{
    display: block;
}

.location{
    position: relative;
}

.location-ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    padding: 10px;
    min-width: 180px;
    transition: 0.3s;
    border: 1px solid #fcba64 ;
    z-index: 100;
}

.location:hover .location-ul{
    display: block;
}

.location-ul li a , .life-ul li a{
    color: #404040;
    display: block;
    font-size: inherit;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 10px 10px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase; 
}

.location-ul li , .life-ul li {
    border-bottom: 1px solid #878686;
    transition: 0.5s;
}

.location-ul li:last-child , .life-ul li:last-child{
    border-bottom: none ;
}

.location-ul li:hover , .life-ul li:hover{ 
    background: #fcba64;
}